body {
	font-family: "Montserrat", sans-serif;
	background-color: #e5e5e5;
	width: 1200px;
	margin: 30px;
}
button {
	background-color: #130d0d;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
	/* padding: 90px 40px; */
	margin-left: 400px;
	color: #fb6d3a;
}
/* main styles */
@media only screen and (min-device-width: 480px) and (max-device-width: 12500px) {
	.main {
		display: flex;
		/* flex-direction: row-reverse; */
		background-color: #e5e5e5;
		width: 1200px;
		margin: 0 auto;
	}
	/* .main-content {
		float: none;
		width: auto;
	}
	aside {
		width: auto;
		position: static;
		float: none;
	} */
}

.main-content {
	background-color: #ffffff;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
	padding: 90px 40px;
	margin-left: 400px;
}
.about {
	margin-bottom: 40px;
}
.about-position {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 20;
}
.about-name {
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	color: #000000;
	margin-bottom: 15px;
	width: 500px;
}
.about-description {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	width: 400px;
}
.projects {
	margin-bottom: 50px;
}
.project_title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
}
.pr-list {
	padding: 0px;
	margin-left: 15px;
}
.item {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.project,
.project-link {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.project-link {
	margin-left: 10px;
}
.bracket {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.work-and-education {
	width: 450px;
}

.position {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 10px;
}
.company {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #fb6d3a;
}
.period {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
	margin-bottom: 10px;
}
.line {
	color: #000000;
}
.work-list {
	padding: 0;
	margin-left: 15px;
}
.work-list-item {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.edu-title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 45px;
}
.university {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #fb6d3a;
	margin-bottom: 10px;
}
.department {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 10px;
}
.sidebar {
	background-color: #1e2939;
	padding-top: 40px;
	width: 370;
}
.photo {
	width: 370px;
}
.sidebar-title {
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 10px;
}
.contacts,
.tech-skills,
.soft-skills {
	margin-left: 40px;
}
.contacts {
	margin-bottom: 50px;
}
.tech-skills,
.soft-skills {
	margin-bottom: 45px;
}

.type-contacts {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	margin-right: 10px;
}
.contact-link {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #565e6a;
}
.skills-list {
	color: #ffffff;
	padding: 0px;
	margin-left: 17px;
}
.skills-item {
	color: #fb6d3a;
}
.skills-text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}
